version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./bot:/app/bot
    depends_on:
      - db
      - cache
    restart: unless-stopped
    command: python -m bot.main

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: vova_bot_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    

  cache:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
      
volumes:
  postgres_data:
  redis_data: